[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
django-cors-headers = "*"
django-extensions = "*"
psycopg2 = "*"
django = "*"
django-imagekit = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
