@media (min-width: 1200px) {
    .navbar, .admin.page-footer, main {
        padding-left: 270px;
    }
}

@media (min-width: 992px) {
    .navbar, .admin.page-footer, main {
        padding-left: 270px;
    }
}

.page-footer {
    background-color: #929FBA;
}
