html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* Utilities */

.h-100 {
    height: 100% !important;
}


/* Transitions */

.general-transition-enter-active,
.general-transition-leave-active {
    transition: all .2s ease;
}
.general-transition-enter,
.general-transition-leave-to {
    opacity: 0;
    transform: scale(.99, .99);
}
.general-transition-enter-to,
.general-transition-leave {
    opacity: 1;
    transform: scale(1, 1);
}


/* Section */

section.section {
    margin-bottom: 2rem;
}

/* Colors */

.bg-light {
    background-color: #fbfbfb!important;
}

.rounded-circle {
    border-radius: 50%!important;
}


/* Fonts */

.font-small {
    font-size: .9rem;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}


/* Hero */

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.mask {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.shadow-2-strong {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .21) !important;
}
