<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ContactPage",
        "@id": "ContactPage",
        "name": "Gency313",
        "url": "{{ request.build_absolute_uri }}",
        "description": "Les experts de Gency313 sont disponibles par téléphone, par e-mail et via le site web et sont impatients de répondre à vos questions et de discuter des possibles stratégies pour vous aider à atteindre vos objectifs commerciaux",
        "telephone": ""
    }
</script>
