{% load i18n %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "Comment fonctionne le growth marketing ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Le growth marketing est une méthode de marketing qui vise à maximiser 
                        la croissance d'une entreprise en utilisant des techniques créatives et innovantes 
                        pour atteindre rapidement et efficacement un public cible</p>"
                }
            },
            {
                "@type": "Question",
                "name": "Comment le growth marketing diffère-t-il du marketing traditionnel ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Contrairement au marketing traditionnel, qui se concentre sur des méthodes 
                        de promotion plus conventionnelles telles que la publicité, les relations publiques et le 
                        marketing par e-mail, le growth marketing se concentre sur des tactiques non 
                        conventionnelles pour stimuler la croissance, telles que l'optimisation de la conversion, 
                        la viralité et l'expérimentation de produits.</p>"
                }
            },
            {
                "@type": "Question",
                "name": "Quelles sont certaines des techniques de growth marketing les plus courantes ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Certaines des techniques de growth marketing les plus courantes comprennent 
                        l'optimisation de la conversion, la viralité, l'expérimentation de produits, 
                        l'automatisation du marketing, la personnalisation de l'expérience utilisateur 
                        et l'utilisation de données et d'analyses pour prendre des décisions stratégiques</p>"
                }
            },
            {
                "@type": "Question",
                "name": "A quoi va me servir le web scrapping dans ma stratégie growth ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Le web scraping, qui consiste à extraire automatiquement des données à partir de sites web, 
                    peut jouer un rôle important dans une stratégie de croissance. Voici quelques domaines où le web 
                    scraping peut être utilisé pour soutenir vos efforts de croissance :
                    <ul>
                        <li>Collecte de données concurrentielles</li>
                        <li>Analyse de marché</li>
                        <li>Génération de leads</li>
                        <li>Surveillance des médias sociaux</li>
                        <li>Optimisation du référencement naturel (SEO)</li>
                        <li>Personnalisation de l'expérience utilisateur</li>
                        <li>Analyse des commentaires clients</li>
                        <li>Suivi des prix et des stocks par exemple sur les sites e-commerce</li>
                    </ul>
                    </p>"
                }
            },
            {
                "@type": "Question",
                "name": "Faites-vous de la création de site internet ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Actuellement, notre agence de marketing se concentre principalement 
                    sur des services autres que la création de sites internet, afin 
                    d'offrir à nos clients des solutions spécialisées dans des domaines 
                    tels que la stratégie numérique, le référencement naturel, les médias 
                    sociaux et bien d'autres encore"
                }
            }
        ]
    }
</script>
